.formbody {
    font-family: "Roboto", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
  }
  
  .formcard {
    width: 60rem;
    margin: auto;
    background: white;
    top:2rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .formTitle{
      padding-top: 5rem;
      text-align: center;
      color: #753370;
      font-weight: bold;
  }
  hr{
      color: #298096;
      margin-bottom: 3rem;
  }
  .formGroup{
      display: flex;
  }
  .product {
    object-fit: cover;
    width: 20em;
    height: 20em;
    border-radius: 100%;
  }
  .types{
      display: flex;
      justify-content: space-around;
  }
  .big{
      height: 5rem !important;
  }
  
  p {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0.8rem 0;
  }
  
  .inputbox {
    color: #030303;
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: "Roboto", sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
  }
  
  
  .button {
    background: linear-gradient(135deg, #753370 0%, #298096 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 100%;
    letter-spacing: 0.11rem;
    outline: none;
  }
  
  .button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
  }
  
  @media only screen and (max-width: 1000px) {
    .card {
      flex-direction: column;
      width: auto;
    }
  
    .leftside {
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-radius: 0;
    }
  
    .rightside {
      width: auto;
      border-bottom-left-radius: 1.5rem;
      padding: 0.5rem 3rem 3rem 2rem;
      border-radius: 0;
    }
  }